.liked-photos-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.liked-photos-modal__close {
  display: flex;
  margin-top: 24px;
  margin-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.liked-photos-modal__header {
  display: flex;
  font-weight: 500;
  color: #1e1e1e;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.liked-photos-modal__images {
  display: flex;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 2px;
  justify-content: center;
  align-items: center;
}