.photo-list__item {
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__footer {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list__user-info {
  display: flex;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
  flex-direction: column;
  justify-content: center;
}

.photo-list__user-details {
  margin: 0;
}

.photo-list__user-location {
  color: #838383;
  margin: 0;
}